# Python and Django
*.pyc
__pycache__/

# Virtual environments
venv/
env/

# Django settings and sensitive data
*.env
.env

# SQLite database
*.sqlite3

# Docker-related files
docker-compose.override.yml
*.log
*~backup.sql
